QWidget
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(50,50,50);
    border: none;
}

QLabel
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(50,50,50);
    border: none;

}

QGridLayout
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(50,50,50);
    border: none;
}
QTextBrowser
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(50,50,50);
    border: none;
}