/* Typical widget controls (top tabs, etc) */

QListWidget::item
{
    margin: 0px;
    padding:0px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: LightGray;
    background-color: #111111;
    border: 0px
}

""" QListWidget:item:selected:active {
                                     background: gray;
                                }
                                QListWidget:item:selected:!active {
                                     background: gray;
                                }
                                QListWidget:item:selected:disabled {
                                     background: gray;
                                }
                                QListWidget:item:selected:!disabled {
                                     background: gray;
                                }


/*QListWidget::item::hover
{
    background-color: #555555;
}*/

QVBoxLayout
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: lightgrey;
    background-color: rgb(50,50,50);
    border: 0px

}

QWidget
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    /*color: lightgrey;*/
    background-color: rgb(50,50,50);
    border: 0px

}

/*
QTabWidget
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: lightgrey;
    background-color: rgb(50,50,50);
    border: 0px
}
*/
QWebEngineView
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: lightgrey;
    background-color: rgb(50,50,50);
    border: 0px

}

QHBoxLayout
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: lightgrey;
    background-color: rgb(50,50,50);
    border: 0px
}

